# System Requirements
Node.js >= 18
Database: MSSQL (SQL Server)

# Dependencies (Backend & Frontend)
@mercadopago/sdk-react
bcrypt
compression
cookie-parser
cors
dotenv
express
express-rate-limit
framer-motion
helmet
http-proxy-middleware
jsonwebtoken
mercadopago
mssql
multer
nodemailer
react
react-dom
react-helmet-async
react-icons
react-router-dom
regenerator-runtime
serve
sharp
zod

# Dev Dependencies
@eslint/js
@tailwindcss/postcss
@testing-library/dom
@testing-library/jest-dom
@testing-library/react
@testing-library/user-event
@types/react
@types/react-dom
@vitejs/plugin-legacy
@vitejs/plugin-react
@vitest/coverage-v8
autoprefixer
eslint
eslint-plugin-import
eslint-plugin-react-hooks
eslint-plugin-react-refresh
globals
jsdom
postcss
tailwindcss
terser
vite
vite-plugin-pwa
vitest
